<div class = "mt-5 mb-5" style="text-align: center">
  <h2>Find a liner</h2>
</div>
<div class="d-flex flex-column align-items-center">
  <%= form_tag travels_path, class:"text-align-center pagination-center",method: :get do %>
  <%= text_field_tag :from,
    params[:from],
    class: " form-control form-search col-xl-12 col-lg-12 col-md-12 col-sm-12 form-index mb-3",required: false,
    placeholder: "From"
  %>
  <%= text_field_tag :to,
    params[:to],
    class: "form-control form-search col-xl-12 col-lg-12 col-md-12 col-sm-12 form-index mb-3",required: false,
    placeholder: "To"
  %>
  <%= submit_tag "Search", class: "btn-flat" %>
<% end %>
</div>


<% @travels.each do |travel| %>
<% if travel.user == current_user %>
<% else %>
<% if travel.user.photo.file.nil? %>
<div class="blog-card-2">
    <div class="meta">
      <%= image_tag "user.png", height: 300, width: 300, crop: :fill, class:"photo" %>
      </div>
<% else %>
<div class="blog-card-2">
    <div class="meta">
      <%= cl_image_tag travel.user.photo, height: 300, width: 300, crop: :fill, class:"photo"%>
    </div>
<% end %>
    <div class="description-2">
      <h2><strong><%= travel.user.last_name %></strong></h2>
      <h2>Departure from <strong><%= travel.departure_date.strftime("%d %B %Y") %></strong> to <strong><%= travel.arrival_date %></strong></h2>
      <p> Arrival at <strong><%= travel.arrival_hour %></strong></p>
      <p>Weight left: <strong><%= travel.weight_left %></strong></p>
      <p>Price: <strong><%= travel.price %></strong> €</p>
      <p class="read-more-2">
        <a href=<%= "travels/#{travel.id}" %>>Read More</a>
      </p>
    </div>
  </div>
  </div>
<% end %>
<% end %>
