<div class="d-flex justify-content-center">
   <div class="card-travel-show col-xl-10 col-lg-10 col-md-12 col-sm-12 d-flex justify-content-center text-align-center">
     <div class="card-travel-show-infos">
        <div class="card-travel-show-description">
            <h2>Summary</h2>
            <h3><%= @travel.departure_date.strftime("%d %B %Y") %>   <i class="fas fa-arrow-right m-3"></i>   <%= @travel.arrival_date.strftime("%d %B %Y") %></h3>
            <hr style="margin: 0">
        </div>
        <div class="d-inline">
           <p><span></span> <%= @travel.departure_place %></p>
           <i class="fas fa-arrow-down"></i>
           <p class="mt-2"><span></span> <%= @travel.arrival_place %></p>
        </div>
        <hr style="margin: 0">
        <div class="d-flex align-items-center justify-content-center m-3">
          <div>
            <%= cl_image_tag @travel.user.photo, class: "avatar " %>
          </div>
          <div>
            <p style="margin: 0; margin-left: 12px"><%= @travel.user.first_name %> <%= @travel.user.last_name %></p>
          </div>
        </div>
          <div>
            <p>Complementary information</p>
            <p><%= @travel.details %></p>
          </div>
        <hr style="margin: 0">
        <div class="card-travel-show-attributes">
          <p><span>Price:</span> <%= @travel.price %> €</p>
          <p><span>Arrival hour:</span> <%= @travel.arrival_hour %></p>
        </div>
        <%= link_to "Ask this liner", new_travel_booking_path(params["id"]), class:'btn-flat' unless current_user.travels.include?(@travel) %>
        <%= link_to "Back to your travels", travels_path %>
      </div>
    </div>
</div>
