<div class="d-flex justify-content-center">
   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center text-align-center">
     <div class="card-travel-show-infos">
        <div class="card-travel-show-description">
            <%= image_tag ("icon-jump"), style:"width: 100%" %>
            <div class="d-flex justify-content-flex-start">
              <p><%= l(@travel.departure_date, format: :long) %></p>
            </div>
            <div class="d-flex justify-content-end align-date-show">
              <p><%= l(@travel.arrival_date, format: :long) %></p>
            </div>
            <div>
              <p><%= @travel.departure_place.split(",")[0] %> <i class="fas fa-arrow-right" style="color: #00c9c1"></i> <%= @travel.arrival_place.split(",")[0] %> </p>
            </div>
            <hr style="margin: 0">
        </div>
        <hr style="margin: 0">
        <div class="d-flex align-items-center justify-content-center m-3">
          <div>
            <%= image_tag @travel.user.image, class: "avatar-profil " %>
          </div>
          <div>
            <p style="margin: 0; margin-left: 12px"><%= @travel.user.first_name %> <%= @travel.user.last_name %></p>
          </div>
        </div>
          <div>
            <p><%= t("travels.show.complementary") %></p>
            <p><%= @travel.details %></p>
          </div>
        <hr style="margin: 0">
        <div class="card-travel-show-attributes">
          <p><span><i class="fas fa-money-bill-wave"></i></span> <%= @travel.price %> €</p>
          <p><span><i class="fas fa-hourglass"></i></span> <%= @travel.arrival_hour.strftime("%H h %M") %></p>
          <p><span><i class="fas fa-weight"></i></span> <%= @travel.weight_left %>kg</p>
        </div>
        <%= link_to t("travels.show.ask"), new_travel_booking_path(params["id"]), class:'btn-flat' unless current_user.travels.include?(@travel) %>
        <%= link_to t("travels.show.back"), travels_path %>
      </div>
    </div>
</div>
