<div class="d-flex justify-content-center">
   <div class="card-travel-show col-xl-10 col-lg-10 col-md-12 col-sm-12 d-flex justify-content-center text-align-center">
     <div class="card-travel-show-infos">
        <div class="card-travel-show-description">
            <h2><%= t("travels.show.summary") %></h2>
            <h3><%= l(@travel.departure_date, format: :long) %>   <i class="fas fa-arrow-right m-3"></i>   <%= l(@travel.arrival_date, format: :long) %></h3>
            <hr style="margin: 0">
        </div>
        <div class="d-inline">
           <p><span></span> <%= @travel.departure_place %></p>
           <i class="fas fa-arrow-down"></i>
           <p class="mt-2"><span></span> <%= @travel.arrival_place %></p>
        </div>
        <hr style="margin: 0">
        <div class="d-flex align-items-center justify-content-center m-3">
          <div>
            <%= cl_image_tag @travel.user.photo, class: "avatar-profil " %>
          </div>
          <div>
            <p style="margin: 0; margin-left: 12px"><%= @travel.user.first_name %> <%= @travel.user.last_name %></p>
          </div>
        </div>
          <div>
            <p><%= t("travels.show.complementary") %></p>
            <p><%= @travel.details %></p>
          </div>
        <hr style="margin: 0">
        <div class="card-travel-show-attributes">
          <p><span><%= t("travels.show.price") %>:</span> <%= @travel.price %> €</p>
          <p><span><%= t("travels.show.arrival") %>:</span> <%= @travel.arrival_hour.strftime("%H h %M") %></p>
          <p><span><%= t("travels.show.weight") %>:</span> <%= @travel.weight_left %>kg</p>
        </div>
        <%= link_to t("travels.show.ask"), new_travel_booking_path(params["id"]), class:'btn-flat' unless current_user.travels.include?(@travel) %>
        <%= link_to t("travels.show.back"), travels_path %>
      </div>
    </div>
</div>
