
    <div class = "col-xl-12 col-lg-12 col-sm-12 col-sm-offset-3 col-12 col-xs-12" id="chatroom-box">
        <div class = "chat-header">
          <%= link_to root_path, class:"text-white" do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
          <h4 class="text-center"><%= @booking.user == current_user ? @booking.travel.user.first_name : @booking.user.first_name %></h4>
        </div>
        <div id=<%= @chat_room.id %> class ="messages mb-5">
          <% @chat_room.messages.each do |message| %>
            <%= render "shared/messages", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
        <div id= "create-message">
          <%= simple_form_for :message, url: travel_booking_chat_room_messages_path(@booking.travel, @booking, @chat_room), class:"text-field", method: :post,remote: true do |f| %>
            <%= f.input :content, label: false %>
            <%= f.button :submit, "Send", class:"btn-flat-2 ml-3" %>
          <% end %>

        </div>
      </div>
<% content_for :after_js do %>
<script>
  App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
    { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
    { received: (data) => {
       if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        }
      }
     })
</script>
<% end %>
