<h1 class="text-center">Edit your purchase</h1>
<div class="d-flex justify-content-center ">
    <%= simple_form_for [@purchase] do |f| %>
    <hr>
      <div>
        <div class="form-group align-content-center pagination-center" style = "text-align: center">
          <%= f.input :product_url%>
          <%= f.input :name%>
          <%= f.input :seller %>
          <%= f.input :price %>
          <%= f.input :bonus_traveler %>
          <%= f.input :photo %>
          <%= f.button :submit, "Edit", class: "btn-flat" %>
        </div>
      </div>
    <% end %>
</div>
