<h1 class="text-center"><%= t("purchases.new.order") %></h1>
<div class="d-flex justify-content-center ">
    <%= simple_form_for [@purchase] do |f| %>
    <hr>
      <div>
        <div class="form-group align-content-center pagination-center" style = "text-align: center">
          <%= f.input :product_url, label: t("purchases.new.url")%>
          <%= f.input :name, label: t("purchases.new.name") %>
          <%= f.input :seller, label: t("purchases.new.seller") %>
          <%= f.input :purchase_place, label: t("purchases.new.place") %>
          <%= f.input :price, label: t("purchases.new.price") %>
          <%= f.input :bonus_traveler, label: t("purchases.new.bonus") %>
          <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: t("purchases.new.upload") %>
          <%= f.button :submit, "Order", class: "btn-flat" %>
        </div>
      </div>
    <% end %>
</div>
