  <div class="container">
   <div class="card-travel-show">
     <div class="card-travel-show-infos">
        <div class="card-travel-show-description">
          <div class="book-travel">
            <h2>Summary</h2>
          </div>
            <%= cl_image_tag @purchase.photo, height: 300, width: 400, crop: :fill  %>
            <p><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p><strong><span>price:</span> <%= @purchase.price %>€</strong></p>
        </div>
        <div class="card-travel-show-attributes">
         <p><span>Product name:</span> <%= @purchase.name %></p>
         <p><span>Seller:</span> <%= @purchase.seller %></p>
         <p><span>Country:</span> <%= @purchase.purchase_place %></p>
        </div>
        <%= link_to "Ask this liners", new_purchase_booking_path(params["id"]), class:'btn btn-primary btn-book' unless current_user.purchases.include?(@purchase) %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Back to your purchases", purchases_path %>
    </div>
  </div>
