

<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
<label for="openSidebarMenu" class="sidebarIconToggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li><%= image_tag('Line.png') %></li>
    <li><a href="https://vanila.io" target="_blank">Company</a></li>
    <li>
      <a href="https://instagram.com/plavookac" target="_blank">Instagram</a>
    </li>
    <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
    <li>
      <a
        href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
        target="_blank"
        >YouTube</a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/plavookac/" target="_blank"
        >Linkedin</a
      >
    </li>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-line">
        <div class="text-center">
          <%= link_to user_facebook_omniauth_authorize_path do %>
            <i style="color:  #3b5998;" class="fab fa-facebook"></i>
            <p><%= t("navbar.signf") %></p>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to user_google_oauth2_omniauth_authorize_path do%>
            <i style="color: #DB4437" class="fab fa-google"></i>
            <p><%= t("navbar.signg") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
