<div class="line-body">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547471080-7cc2caa01a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);">
    <div class="container">
      <div class="text-center pagination-center">
        <h1 class="mb-3 " style="font-size:8vw;">Crowdshipping</h1>
        <p>Order or send everywhere</p>
        <p>Monetize your travel</p>
        <div class ="d-flex justify-content-center">
          <%= link_to "Fly with us", purchases_path, class: "btn btn-flat-2 m-3" %>  <%= link_to "Send now", travels_path, class: "btn btn-flat m-3" %>
        </div>
      </div>
    </div>
  </div>

    <div class="container text-center pagination-center mb-3">
      <h2><strong>How it works</strong></h2>
      <a class="border-bottom border-primary mr-5" id="sender-display"><strong>Send</strong></a>
      <a class="border-bottom border-primary ml-5" id="buy-display"><strong>Buy</strong></a>
    </div>


  <div class="container text-center pagination-center" id = "send-path">
    <div class="row d-flex justify-content-between">
      <div class= "col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1 ">
          <%=image_tag('loupe.svg')%>
          <div class="card-product-infos">
            <h2>As a sender</h2>
            <p>1 - Enter a place</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('find-my-friend.svg')%>
          <div class="card-product-infos">
            <h2>As a sender</h2>
            <p>2 - Find a traveler</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4-6 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('meeting.svg')%>
          <div class="card-product-infos">
            <h2>As a traveler</h2>
            <p>3 - Meet and check the package</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('browser.svg')%>
          <div class="card-product-infos">
            <h2>As a traveler</h2>
            <p>4 - Travel safely with the package</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-12 col-sm-6 col-xs-12 text-center">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('happy.svg')%>
          <div class="card-product-infos">
            <h2>As a traveler</h2>
            <p>5 - Bring it the recipient and get your money</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center pagination-center" id = "buy-path">
    <div class="row d-flex justify-content-between">
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1 ">
          <%=image_tag('loupe.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a buyer</h2>
            <p>1 - Make an order</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('broadcaster.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a buyer</h2>
            <p>2 - Ask to the line community to buy it</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('check.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a traveler</h2>
            <p>3 - Validate the purchase</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('buy.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a traveler</h2>
            <p>4 - Go purchase the product</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('browser.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a traveler</h2>
            <p>5 - Travel safely with the package</p>
          </div>
        </div>
      </div>
      <div class= "col-md-6 col-lg-4 col-sm-6 col-xs-12">
        <div class="card-product mb-3 mr-1">
          <%=image_tag('happy.svg')%>
          <div class="card-product-infos">
            <h2 class="color-line-2">As a traveler</h2>
            <p>6 - Bring it the recipient and get your money</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
