<div class="line-body">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495320520040-44186a20c601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
    <div class="container">
      <div class="text-center pagination-center">
        <h1 class="mb-3 " style="font-size:8vw;">Crowdshipping</h1>
        <p><%= t("home.description") %></p>
        <p><%= t("home.under_description") %></p>
        <div class ="d-flex justify-content-center">
          <%= link_to t("home.btn_send"), travels_path, class: "btn btn-flat m-3" %>
        </div>
      </div>
    </div>
  </div>

    <div class="container text-center pagination-center mb-3">
      <h2><strong><%= t("home.how_it_works") %></strong></h2>
    </div>

  <div class="container text-center pagination-center" id = "send-path">
    <div class="row d-flex justify-content-center">
      <div class="app rounded col-md-12 col-lg-12 col-sm-8 col-xs-8 col-10 mb-5">
        <header>
        </header>
        <main>
          <h2><strong><%= t("home.how_send") %></strong></h2>
          <p><%= t("home.how_send_1") %></p>
          <p><%= t("home.how_send_2") %></p>
          <p><%= t("home.how_send_3") %></p>
          <p><%= t("home.how_send_4") %></p>
          <p><%= t("home.how_send_5") %></p>
          <%= link_to t("home.btn_send"), travels_path, class: "btn btn-flat m-3" %>
        </main>
      </div>
    </div>
  </div>
</div>
