<div class="bg-liine">
  <div class="text-center pagination-center mt-5 mb-5 banner-p">
    <h1 class="mb-3 "><strong><%= t("home.title") %></strong></h1>
    <p><%= t("home.description") %></p>
    <p><%= t("home.under_description") %></p>
    <div class ="d-flex justify-content-center">
      <%= link_to t("home.btn_send"), travels_path, class: "btn btn-flat m-3" %>
    </div>
    <div class="checks">
      <p> <i class="fas fa-check"></i> <%= t('home.check1') %> </p>
      <p> <i class="fas fa-check"></i> <%= t('home.check2') %> </p>
      <p> <i class="fas fa-check"></i> <%= t('home.check3') %> </p>
    </div>
  </div>
</div>

