<div class="card-profile text-center mt-5 d-flex justify-content-center">
  <div class="col-xl-6 col-lg-6 col-sm-10 col-10 border p-5 card-container">
    <%= link_to edit_user_registration_path, class:"pencil-position" do %>
      <i class="fas fa-pencil-alt pencil-color"></i>
    <% end %>
    <%= cl_image_tag current_user.photo, height:100, width: 100, class:"avatar-profile" %>
    <div class="card-infos">
      <p class="mt-3"><%= current_user.last_name.upcase %> <%= current_user.first_name.capitalize %></p>
      <p class="mt-3"><%= current_user.address.capitalize %></p>
      <p class="mt-3"><%= current_user.nationality.capitalize %></p>
      <p class="mt-3"><%= current_user.telephone %></p>
      <% if current_user.document.file.nil? %>
        <%= link_to "Upload your I.D"  ,edit_user_registration_path %>
      <% else %>
        <i class="fas fa-user-check"></i><p>Verified</p>
      <% end %>
    </div>
  </div>
</div>
