<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
          <%= image_tag current_user.image, height:100, width: 100, class:"img-responsive" %>
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= current_user.last_name.upcase %> <%= current_user.first_name.capitalize %>
					</div>
          <div class="profile-usertitle-job">
            <%= current_user.telephone %>
					</div>
				</div>
				<div class="profile-userbuttons">
          <% if current_user.document.file.nil? %>
            <p style = "color: red"><%= t("profil") %></p>
          <% end %>
					<button type="button" class="btn btn-success btn-sm mb-2">
            <% if current_user.document.file.nil? %>
            <%= link_to "Upload your I.D" ,edit_user_registration_path %>
          <% else %>
            <i class="fas fa-user-check"></i><p>Verified</p>
          <% end %>
          </button>
					<button type="button" class="btn btn-danger btn-sm">
            <%= link_to "Edit your account" ,edit_user_registration_path %>
          </button>
				</div>
			</div>
		</div>
	</div>
</div>
